<header class="grid-container width-full margin-top-3 tablet:margin-top-4" role="banner">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-9 tablet:grid-col-6">
      <div class="site-title font-sans-13">
        Título
      </div>
      <nav class="site-nav margin-top-0" role="navigation">
        <!-- <ul class="">
          {% for instance in site.data.weights %}
          <li class="text-{{ instance.weight }}"><a href="{{ instance.url | relative_url }}" {% if page.url contains instance.url %} class="border-ink" {% endif %}>{{ instance.weight }}</a></li>
          {% endfor %}
          <li class="text-400"><a href="{{ 'reading' | relative_url }}" {% if page.url contains "reading" %} class="border-ink" {% endif %}>Example</a></li>
        </ul> -->
      </nav>
    </div>
    <div class="desktop:grid-col-3 tablet:grid-col-6">
      <div class="usa-language-container usa-language--small">
        <ul class="usa-language__primary usa-accordion">
          <li class="usa-language__primary-item">
            <button class="usa-button bg-primary-vivid hover:bg-primary-light hover:text-ink text-normal font-lang-sm margin-top-1 radius-sm usa-language__link" role="button" aria-expanded="false" aria-controls="language-options">
              Idiomas
            </button>
            <ul id="language-options" class="usa-language__submenu" hidden="true">
              <li class="usa-language__submenu-item">
                <a href="javascript:void()" title="العربية | Arábica"><span lang="ar" xml:lang="ar"><strong>العربية</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="javascript:void()" title="简体字 | Chino (Simplificado)"><span lang="zh" xml:lang="zh"><strong>简体字</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="../" title="English | Inglés"><span lang="en" xml:lang="en"><strong>English</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="javascript:void()" title="Español | Español"><span lang="es" xml:lang="es"><strong>Español</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="javascript:void()" title="Français | Francés"><span lang="fr" xml:lang="fr"><strong>Français</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="javascript:void()" title="Italiano | Italiano"><span lang="it" xml:lang="it"><strong>Italiano</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="javascript:void()" title="Pусский | Ruso"><span lang="ru" xml:lang="ru"><strong>Pусский</strong></span></a>
              </li>
              <li class="usa-language__submenu-item">
                <a href="javascript:void()">Contenido seleccionado en idiomas adicionales</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>