<header class="site-header grid-container" role="banner">
  <div class="site-title ">
    {% if page.url == "/" %}
    Public Sans
    {% else %}
    <a href="{{ "/" | relative_url }}" title="Home" aria-label="Home">Public Sans</a>
    {% endif %}
  </div>
  <nav class="site-nav" role="navigation">
    <ul class="">
      {% for instance in site.data.weights %}
        <li class="text-{{ instance.weight }}"><a href="{{ instance.url | relative_url }}"{% if page.url contains instance.url %} class="active"{% endif %}>{{ instance.weight }}</a></li>
      {% endfor %}
      <li class="text-400"><a href="{{ 'reading' | relative_url }}"{% if page.url contains "reading" %} class="active"{% endif %}>Example</a></li>
    </ul>
  </nav>
</header>
