<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1560</integer>
	<key>capHeight</key>
	<integer>1446</integer>
	<key>descender</key>
	<integer>-440</integer>
	<key>familyName</key>
	<string>Public Sans</string>
	<key>note</key>
	<string>Based on Libre Franklin</string>
	<key>openTypeHeadCreated</key>
	<string>2019/05/07 07:55:24</string>
	<key>openTypeHheaAscender</key>
	<integer>1990</integer>
	<key>openTypeHheaDescender</key>
	<integer>-440</integer>
	<key>openTypeNameDescription</key>
	<string>Libre Franklin is a reinterpretation and expansion of the 1912 Morris Fuller Benton’s classic.</string>
	<key>openTypeNameDesigner</key>
	<string>Pablo Impallari, Rodrigo Fuenzalida (Modified by Dan O. Williams and USWDS)</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://designsystem.digital.gov</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Public Sans</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Thin</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1560</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-440</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>100</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1990</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>440</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-21</integer>
		<integer>0</integer>
		<integer>1034</integer>
		<integer>1055</integer>
		<integer>1446</integer>
		<integer>1466</integer>
		<integer>1471</integer>
		<integer>1486</integer>
	</array>
	<key>postscriptFontName</key>
	<string>PublicSans-Thin</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-330</integer>
		<integer>-322</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>78</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>78</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-370</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>120</integer>
	<key>styleMapFamilyName</key>
	<string>Public Sans Thin</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Thin</string>
	<key>trademark</key>
	<string>Public Sans is based on Libre Franklin, which is a trademark of Impallari Type.</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>3</integer>
	<key>xHeight</key>
	<integer>1034</integer>
</dict>
</plist>
