absl-py
appdirs
attrs
beautifulsoup4
booleanOperations
cattrs
certifi
cffsubr
chardet
click
commandlines
compreffor
cu2qu
defcon
Deprecated
Flask
font-v
fontbakery
fontmake
fontMath
fonttools
fs
gftools
gitdb
GitPython
glyphsLib
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
opentype-sanitizer
Pillow
protobuf
pyclipper
PyGithub
PyJWT
pyparsing
pytz
requests
six
smmap
soupsieve
statmake
tabulate
ttfautohint-py
typing-extensions
ufo2ft
ufoLib2
ufolint
unicodedata2
Unidecode
urllib3
vttLib
Werkzeug
wrapt
zipp
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
