<header class="grid-container margin-top-2 tablet:margin-top-4" role="banner">
  <div>
    <a class="site-title font-sans-13" href="{{ "/" | relative_url }}" title="Home" aria-label="Home">Public Sans</a>
  </div>
  <nav class="margin-top-0" role="navigation">
    <ul>
      {% for instance in site.data.weights %}
        <li class="text-{{ instance.weight }}"><a href="{{ instance.url | relative_url }}"{% if page.url contains instance.url %} class="border-ink"{% endif %}>{{ instance.weight }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
