<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1597</integer>
	<key>capHeight</key>
	<integer>1481</integer>
	<key>descender</key>
	<integer>-451</integer>
	<key>familyName</key>
	<string>Public Sans</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>885</integer>
			<key>y</key>
			<integer>1415</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-82</integer>
			<key>y</key>
			<integer>-504</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>909</integer>
			<key>y</key>
			<integer>1606</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>261.946</real>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>1481</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>261.946</real>
			<key>x</key>
			<integer>754</integer>
			<key>y</key>
			<integer>1481</integer>
		</dict>
	</array>
	<key>italicAngle</key>
	<real>-8.0</real>
	<key>note</key>
	<string>Based on Libre Franklin

</string>
	<key>openTypeHeadCreated</key>
	<string>2019/06/06 07:56:17</string>
	<key>openTypeHheaAscender</key>
	<integer>2038</integer>
	<key>openTypeHheaDescender</key>
	<integer>-451</integer>
	<key>openTypeNameDescription</key>
	<string>Libre Franklin is a reinterpretation and expansion of the 1912 Morris Fuller Benton￢ﾀﾙs classic.</string>
	<key>openTypeNameDesigner</key>
	<string>Pablo Impallari, Rodrigo Fuenzalida (Modified by Dan O. Williams)</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://designsystem.digital.gov</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Public Sans</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Black Italic</string>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>1597</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-451</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>IMPA</string>
	<key>openTypeOS2WeightClass</key>
	<integer>900</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2038</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>451</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-23</integer>
		<integer>0</integer>
		<integer>1059</integer>
		<integer>1082</integer>
		<integer>1481</integer>
		<integer>1501</integer>
		<integer>1507</integer>
		<integer>1522</integer>
	</array>
	<key>postscriptFontName</key>
	<string>PublicSans-BlackItalic</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-338</integer>
		<integer>-330</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>275</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>400</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-379</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>154</integer>
	<key>styleMapFamilyName</key>
	<string>Public Sans Black</string>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>Black Italic</string>
	<key>trademark</key>
	<string>Public Sans is based on Libre Franklin, which is a trademark of Impallari Type.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>5</integer>
	<key>xHeight</key>
	<integer>1059</integer>
</dict>
</plist>
