@use "uswds-core" as *;

p,
h1,
h2,
h3,
h4,
h6,
h6 {
  margin: 0;
  padding: 0;
}

.link-heavy,
.link-light {
  @include u-text("ink", "no-underline");
  color: color("ink");
  display: inline-block;

  .is-home & {
    color: color("white");
    &:hover {
      color: color("primary-light");
    }
  }
}

.link-heavy {
  border-bottom: units("2px") solid color("primary-vivid");

  &:hover,
  &:active {
    color: color("primary-vivid");
  }
}

.link-light {
  border-bottom: units(2px) solid color("secondary-vivid");

  &:hover,
  &:active {
    color: color("secondary-vivid");
  }
}

.site-nav {
  margin-top: units(2);

  ul {
    @include add-list-reset;
    @include u-margin-x(-0.5);
  }

  li {
    display: inline-block;
    width: units(5);

    @include at-media("tablet") {
      width: auto;
    }
  }

  a {
    @include u-text("ink", "no-underline");
    @include u-margin-x(0.5);
    border-bottom: units(2px) solid color("transparent");
    display: inline-block;
    padding-top: units(1);

    &:hover,
    &:active {
      color: color("ink");
      border-bottom-color: color("ink");
    }

    .is-home & {
      color: color("white");

      &:hover,
      &:active {
        color: color("white");
        border-bottom-color: color("primary-vivid");
      }
    }
  }
}

.site-title {
  @include u-text("bold", "ink", "no-underline");

  a {
    @include u-text("bold", "ink", "no-underline");

    &:hover,
    &:active {
      color: color("primary-vivid");
    }
  }

  .is-home & {
    color: color("white");
  }
}

.huge {
  font-size: 35vw;
  letter-spacing: ls(-1);
  line-height: lh("sans", 1);
  overflow: hidden;
  padding: 0;

  @include at-media("tablet-lg") {
    font-size: 18rem;
  }
}

.ani-opacity {
  transition: opacity 0.75s;
}

._switchOnHoverShow,
._switchOnHoverHide {
  transition: opacity 0.75s 0.05s;
  display: block;
  opacity: 1;
}

._switchOnHover {
  position: relative;

  ._switchOnHoverShow {
    @include u-pin("all");
    opacity: 0;
    position: absolute;
  }

  &:hover {
    ._switchOnHoverShow {
      opacity: 1;
    }

    ._switchOnHoverHide {
      opacity: 0;
    }
  }
}

.token {
  @include u-font("mono", 1);
  @include u-padding-x(0.5);
  @include u-padding-y(0.5);
  @include u-text("ink", "no-underline");
  background-color: color("base-lightest");
  border-radius: units(2px);
  display: inline-block;

  &:hover,
  &:active {
    background-color: color("primary-vivid");
    color: color("white");
  }

  .site-section-dark & {
    background-color: color("base-darker");
    color: color("base-lighter");

    &:hover,
    &:active {
      background-color: color("primary-vivid");
      color: color("white");
    }
  }
}

.site-comparison {
  font-size: fs("sans", 12);
}

.site-font-system {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.site-font-verdana {
  font-family: Verdana, sans-serif;
}

.site-font-georgia {
  font-family: ff("serif");
}

h2 {
  font-weight: fw("light");
}

// Converted from utilities
.usa-identifier {
  @include u-margin-top(6);
}

.site-title {
  @include u-font("sans", 13);

  a {
    display: inline-block;
  }
}

.site-nav {
  @include u-margin-top(0);

  a.active {
    @include u-border-bottom("ink");
  }
}

.site-header {
  @include u-width("full");
  @include u-margin-top(3);
  @include at-media("tablet") {
    @include u-margin-top(4);
  }
}

html {
  @include u-height("full");
}

body {
  @include u-height("full");
  @include u-display("flex");
  @include u-flex("column");
}

main {
  @include u-flex("fill");
}

.site-specimen {
  @include u-margin-top(2);
  @include u-padding-bottom(4);
  @include u-overflow("hidden");
  @include at-media("tablet-lg") {
    @include u-margin-top(4);
  }
}

.site-specimen--container {
  @include u-maxw("full");
}

.site-alphabet {
  @include u-margin-top(2);
  @include u-border-bottom("base-lighter");
  @include u-padding-bottom(1);
  @include u-overflow("hidden");
  @include u-maxw("full");
}

.site-alphabet--instance{
  @include u-maxw("full");
  @include u-border-top(1px, "base-lighter");
  @include u-padding-top(1);
  @include u-margin-top(1);
}

.site-alphabet--instance-container {
  @include u-line-height("sans", 1);
}

.site-alphabet--instance-token {
  @include u-maxw("full");
  @include u-overflow("hidden");
  @include u-margin-top(1);
}

.site-alphabet--instance-size {
  @include u-font("mono", 1);
  @include u-text("secondary");
}

.site-rel-size--title {
  @include u-margin-top(8);
  @include u-margin-bottom(2);
  @include u-border-bottom;
  @include u-padding-bottom(2);
}

.site-rel-size {
  @include u-position("relative");
  @include u-height(7);
  @include u-flex("align-end");
}

.site-rel-size--name {
  @include u-display("block");
  @include u-font("mono", 1);
  @include u-height(2);
}

.site-comparison {
  @include u-display("none");
  @include at-media("tablet") {
    @include u-display("block");
  }
}

.site-comparison--isMobile {
  @include u-height(5);
  @include u-display("block");
  @include at-media("tablet") {
    @include u-display("none");
  }
}

.site-rel-size--baseline,
.site-rel-size--x-height,
.site-rel-size--cap-height {
  @include u-height(1px);
  @include u-width("full");
  @include u-position("absolute");
  @include u-bg("secondary");
}
.site-rel-size--baseline {
  @include u-bottom(0.5);
}

.site-rel-size--x-height {
  @include u-bottom(3);
}

.site-rel-size--cap-height {
  @include u-top(3);
}

.site-examples {
  @include u-margin-top(8);
}

.site-examples--title {
  @include u-margin-bottom(4);
  @include u-margin-bottom(2);
  @include u-border-bottom;
  @include u-padding-bottom(2);
}

.site-examples--example {
  @include u-display("flex");
  @include u-flex("column", "justify");
  @include u-margin-bottom(2);
  @include at-media("tablet") {
    @include u-margin-bottom(4);
  }
}

.site-examples--meta {
  @include u-margin-top(1);
  @include at-media("tablet") {
    @include u-margin-top(2);
  }
}

.site-examples--meta .pixels {
  @include u-display("block");
  @include u-margin-top(0.5);
  @include u-font("mono", 1);
  @include u-text("secondary");
}

.site-examples-dark {
  @include u-padding-top(6);
  @include u-padding-bottom(4);
}

.site-examples-dark--container {
  @include u-maxw("full");
}

.site-section-dark {
  @include u-bg("ink");
  @include u-text("white");
  .site-examples--meta .pixels {
    @include u-text("accent-warm");
  }
}

.site-numerals {
  @include u-margin-top(2);
  @include u-padding-bottom(4);
  @include at-media("tablet-lg") {
    @include u-margin-top(4);
  }

  a {
    margin-top: units(2);
  }
}

.site-numerals--title {
  @include u-margin-top(4);
  @include u-margin-bottom(2);
  @include u-border-bottom;
  @include u-padding-bottom(2);
}

.site-numerals--example {
  @include u-font("sans", 15);
  @include at-media("tablet") {
    @include u-font("sans", 18);
  }
}

.site-numerals--example.isTabular {
  @include u-text("tabular");
}

.site-numerals--example.isSmaller {
  @include u-font("sans", 12);
  @include at-media("tablet") {
    @include u-font("sans", 14);
  }
}

.site-reading {
  @include u-margin-top(8);
  @include u-padding-bottom(4);
  @include u-text(400);
}

.site-reading--container {
  @include u-measure(4);
  @include u-font("sans", 5);
  @include at-media("tablet"){
    @include u-font("sans", 6)
  }

  h1 {
    @include u-text(100);
    @include u-font("sans", 14);
    @include u-text("ls-neg-1");
    @include u-line-height("sans", 1);
  }

  h2 {
    @include u-font("sans", 10);
    @include u-margin-top(6);
  }

  .sign {
    @include u-text("center", "bold");
    @include u-margin-y(4);
  }

  .attribution {
    @include u-font("sans", 2);
    @include u-margin-top(4);
    @include u-text(400);

    cite {
      font-style: italic;
    }
  }
}