@use "uswds-core" with (
  $theme-color-primary-darkest: "blue-warm-90",
  $theme-link-hover-color: "primary-darker",
  $theme-banner-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-header-min-width: "desktop-lg",
  $theme-identifier-background-color: "primary-darkest",
  $theme-identifier-identity-domain-color: "primary-light",
  $theme-identifier-max-width: "desktop-lg",
  $theme-site-alert-max-width: "desktop-lg",
  $theme-image-path: '../uswds/img',
  $theme-grid-container-max-width: "desktop-lg",
  $theme-site-margins-breakpoint: "tablet-lg",
  $theme-font-path: "..",
  $theme-font-type-sans: "public-sans",
  $theme-font-type-serif: "georgia",
  $theme-font-mono-custom-src: (
   dir: "uswds/fonts/roboto-mono",
   roman: (
    100: "roboto-mono-v5-latin-100",
    200: false,
    300: "roboto-mono-v5-latin-300",
    400: "roboto-mono-v5-latin-regular",
    500: "roboto-mono-v5-latin-500",
    600: false,
    700: "roboto-mono-v5-latin-700",
    800: false,
    900: false,
   ),
   italic: (
    100: "roboto-mono-v5-latin-100italic",
    200: false,
    300: "roboto-mono-v5-latin-300italic",
    400: "roboto-mono-v5-latin-italic",
    500: "roboto-mono-v5-latin-500italic",
    600: false,
    700: "roboto-mono-v5-latin-700italic",
    800: false,
    900: false,
   ),
  ),
  $theme-font-sans-custom-src: (
   dir: "fonts",
   roman: (
    100: "PublicSans-Thin",
    200: "PublicSans-ExtraLight",
    300: "PublicSans-Light",
    400: "PublicSans-Regular",
    500: "PublicSans-Medium",
    600: "PublicSans-SemiBold",
    700: "PublicSans-Bold",
    800: "PublicSans-ExtraBold",
    900: "PublicSans-Black",
   ),
   italic: (
    100: "PublicSans-ThinItalic",
    200: "PublicSans-ExtraLightItalic",
    300: "PublicSans-LightItalic",
    400: "PublicSans-Italic",
    500: "PublicSans-MediumItalic",
    600: "PublicSans-SemiBoldItalic",
    700: "PublicSans-BoldItalic",
    800: "PublicSans-ExtraBoldItalic",
    900: "PublicSans-BlackItalic",
   ),
  ),
  $theme-font-role-heading: "sans",
  $theme-font-role-alt: "sans",
  $theme-font-weight-thin: 200,
  $theme-generate-all-weights: true,
  $utilities-use-important: true,
  $global-color-palettes: ("palette-color-theme"),
  $theme-utility-breakpoints: (
    "card": false,
    "card-lg": false,
    "mobile": false,
    "mobile-lg": false,
    "tablet": true,
    "tablet-lg": true,
    "desktop": true,
    "desktop-lg": false,
    "widescreen": false
  ),
  $letter-spacing-settings: (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $width-settings: (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $font-palettes: (
    'palette-font-system-sans',
    'palette-font-system-mono-small',
  ),
  $font-weight-palettes: (
    'palette-font-weight-default',
    'palette-font-weight-system'
  ),
  $line-height-palettes: ('palette-line-height-default'),
  $line-height-manual-values: (
    'tight': 1.15,
  ),
  // Utilities: 140 KB / Saves 66 KB
  $output-these-utilities: (
    "align-items",
    "background-color",
    "border",
    "border-color",
    "border-width",
    "bottom",
    "color",
    "display",
    "height",
    "flex",
    "flex-direction",
    "font",
    "font-feature",
    "font-style",
    "font-weight",
    "justify-content",
    "letter-spacing",
    "line-height",
    "margin-vertical",
    "max-width",
    "measure",
    "overflow",
    "padding",
    "position",
    "whitespace",
    "width"
  )
);