<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>25</integer>
		<key>@MMK_R_J</key>
		<integer>12</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-23</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-27</integer>
		<key>@MMK_R_X</key>
		<integer>25</integer>
		<key>@MMK_R_Y</key>
		<integer>-65</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-13</integer>
		<key>@MMK_R_parenright</key>
		<integer>-9</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-7</integer>
		<key>@MMK_R_v</key>
		<integer>-45</integer>
		<key>@MMK_R_w</key>
		<integer>-45</integer>
		<key>@MMK_R_x</key>
		<integer>0</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>I</key>
		<integer>0</integer>
		<key>j</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-7</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-28</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-14</integer>
		<key>@MMK_R_X</key>
		<integer>-19</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-2</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-16</integer>
		<key>@MMK_R_o</key>
		<integer>10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-9</integer>
		<key>@MMK_R_v</key>
		<integer>-7</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-9</integer>
		<key>I</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_J</key>
		<integer>18</integer>
		<key>@MMK_R_S</key>
		<integer>-9</integer>
		<key>@MMK_R_T</key>
		<integer>5</integer>
		<key>@MMK_R_V</key>
		<integer>2</integer>
		<key>@MMK_R_W</key>
		<integer>-2</integer>
		<key>@MMK_R_Y</key>
		<integer>5</integer>
		<key>@MMK_R_a</key>
		<integer>-13</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_parenright</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-9</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>17</integer>
		<key>@MMK_R_W</key>
		<integer>30</integer>
		<key>@MMK_R_X</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_Z</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-12</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-9</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_r</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-12</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-14</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-32</integer>
		<key>@MMK_R_parenright</key>
		<integer>-5</integer>
		<key>@MMK_R_w</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>5</integer>
		<key>l</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>12</integer>
		<key>@MMK_R_J</key>
		<integer>11</integer>
		<key>@MMK_R_S</key>
		<integer>-24</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_U</key>
		<integer>-17</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_X</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>7</integer>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-54</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-11</integer>
		<key>@MMK_R_t</key>
		<integer>-54</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-79</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>25</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_parenright</key>
		<integer>-9</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-7</integer>
		<key>@MMK_R_v</key>
		<integer>-12</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_W</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
		<key>@MMK_R_period</key>
		<integer>1</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>i</key>
		<integer>0</integer>
		<key>space</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_J</key>
		<integer>-75</integer>
		<key>@MMK_R_S</key>
		<integer>18</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_W</key>
		<integer>-2</integer>
		<key>@MMK_R_X</key>
		<integer>-65</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-9</integer>
		<key>@MMK_R_a</key>
		<integer>-7</integer>
		<key>@MMK_R_f</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>-14</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_r</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>-14</integer>
		<key>@MMK_R_t</key>
		<integer>7</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_w</key>
		<integer>10</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_J</key>
		<integer>-5</integer>
		<key>@MMK_R_S</key>
		<integer>-23</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-14</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>8</integer>
		<key>@MMK_R_a</key>
		<integer>-1</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-6</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>5</integer>
		<key>@MMK_R_T</key>
		<integer>-28</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_X</key>
		<integer>-9</integer>
		<key>@MMK_R_Y</key>
		<integer>-28</integer>
		<key>@MMK_R_Z</key>
		<integer>-2</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>10</integer>
		<key>@MMK_R_n</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
		<key>D</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-72</integer>
		<key>@MMK_R_J</key>
		<integer>-75</integer>
		<key>@MMK_R_S</key>
		<integer>-28</integer>
		<key>@MMK_R_T</key>
		<integer>37</integer>
		<key>@MMK_R_V</key>
		<integer>25</integer>
		<key>@MMK_R_W</key>
		<integer>25</integer>
		<key>@MMK_R_X</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>35</integer>
		<key>@MMK_R_Z</key>
		<integer>9</integer>
		<key>@MMK_R_a</key>
		<integer>-59</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-75</integer>
		<key>@MMK_R_o</key>
		<integer>-65</integer>
		<key>@MMK_R_parenright</key>
		<integer>40</integer>
		<key>@MMK_R_r</key>
		<integer>-55</integer>
		<key>@MMK_R_s</key>
		<integer>-57</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-49</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-45</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_S</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>N</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-49</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>25</integer>
		<key>@MMK_R_V</key>
		<integer>9</integer>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_X</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-32</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_parenright</key>
		<integer>14</integer>
		<key>@MMK_R_s</key>
		<integer>-27</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-9</integer>
		<key>@MMK_R_z</key>
		<integer>-14</integer>
		<key>i</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-27</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>-9</integer>
		<key>@MMK_R_T</key>
		<integer>25</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-19</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-19</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_r</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-12</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-9</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>25</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>-16</integer>
		<key>@MMK_R_T</key>
		<integer>5</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>5</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-39</integer>
		<key>@MMK_R_parenright</key>
		<integer>20</integer>
		<key>@MMK_R_t</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-12</integer>
		<key>@MMK_R_v</key>
		<integer>-7</integer>
		<key>@MMK_R_w</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_J</key>
		<integer>-65</integer>
		<key>@MMK_R_S</key>
		<integer>-37</integer>
		<key>@MMK_R_T</key>
		<integer>35</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>24</integer>
		<key>@MMK_R_Z</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-52</integer>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-79</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_parenright</key>
		<integer>9</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-56</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_w</key>
		<integer>-19</integer>
		<key>@MMK_R_x</key>
		<integer>-24</integer>
		<key>@MMK_R_z</key>
		<integer>-24</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>23</integer>
		<key>@MMK_R_J</key>
		<integer>19</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>22</integer>
		<key>@MMK_R_U</key>
		<integer>-2</integer>
		<key>@MMK_R_V</key>
		<integer>5</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>9</integer>
		<key>@MMK_R_Z</key>
		<integer>14</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-84</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-11</integer>
		<key>@MMK_R_w</key>
		<integer>-13</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-9</integer>
		<key>@MMK_R_t</key>
		<integer>-14</integer>
		<key>@MMK_R_v</key>
		<integer>-18</integer>
		<key>@MMK_R_w</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>-32</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-14</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>9</integer>
		<key>@MMK_R_s</key>
		<integer>-9</integer>
		<key>@MMK_R_t</key>
		<integer>9</integer>
		<key>@MMK_R_v</key>
		<integer>16</integer>
		<key>@MMK_R_w</key>
		<integer>11</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-17</integer>
		<key>@MMK_R_f</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-23</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>7</integer>
		<key>@MMK_R_w</key>
		<integer>-7</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-26</integer>
		<key>@MMK_R_J</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-19</integer>
		<key>@MMK_R_X</key>
		<integer>-39</integer>
		<key>@MMK_R_Y</key>
		<integer>-79</integer>
		<key>@MMK_R_Z</key>
		<integer>-29</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>-9</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-19</integer>
		<key>@MMK_R_z</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-23</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-19</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-12</integer>
		<key>@MMK_R_v</key>
		<integer>15</integer>
		<key>@MMK_R_w</key>
		<integer>10</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-23</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-23</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-9</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>0</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>35</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>30</integer>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-120</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-49</integer>
		<key>@MMK_R_J</key>
		<integer>-42</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>25</integer>
		<key>@MMK_R_W</key>
		<integer>9</integer>
		<key>@MMK_R_X</key>
		<integer>11</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_a</key>
		<integer>-16</integer>
		<key>@MMK_R_g</key>
		<integer>-19</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
		<key>@MMK_R_w</key>
		<integer>16</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>21</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>l</key>
		<integer>5</integer>
		<key>space</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_r</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>-40</integer>
		<key>h</key>
		<integer>-50</integer>
		<key>k</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-18</integer>
		<key>@MMK_R_f</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-16</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
		<key>@MMK_R_parenright</key>
		<integer>-14</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>-4</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>24</integer>
		<key>@MMK_R_w</key>
		<integer>20</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>9</integer>
		<key>i</key>
		<integer>0</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>k</key>
		<integer>0</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_f</key>
		<integer>25</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-9</integer>
		<key>@MMK_R_o</key>
		<integer>-6</integer>
		<key>@MMK_R_parenright</key>
		<integer>-19</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_w</key>
		<integer>25</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>-9</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>-19</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>12</integer>
		<key>@MMK_R_v</key>
		<integer>24</integer>
		<key>@MMK_R_w</key>
		<integer>0</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-12</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-19</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_parenright</key>
		<integer>-14</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>12</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-17</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>p</key>
		<integer>-15</integer>
		<key>space</key>
		<integer>-25</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>AEacute</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_a</key>
		<integer>12</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>20</integer>
		<key>R</key>
		<integer>10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Ebreve</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Ecaron</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Edotaccent</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Emacron</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Eogonek</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>jcircumflex</key>
		<integer>20</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>l</key>
		<integer>10</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>oslash</key>
		<integer>-41</integer>
		<key>oslashacute</key>
		<integer>-41</integer>
	</dict>
	<key>Kcommaaccent</key>
	<dict>
		<key>oslash</key>
		<integer>-41</integer>
		<key>oslashacute</key>
		<integer>-41</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
	</dict>
	<key>OE</key>
	<dict>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>idieresis</key>
		<integer>20</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>Sacute</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>Scaron</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>Scedilla</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>Scircumflex</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>Scommaaccent</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>adieresis</key>
		<integer>-16</integer>
		<key>ccaron</key>
		<integer>-50</integer>
		<key>ccircumflex</key>
		<integer>-50</integer>
		<key>ecaron</key>
		<integer>-60</integer>
		<key>ecircumflex</key>
		<integer>-50</integer>
		<key>edieresis</key>
		<integer>-24</integer>
		<key>egrave</key>
		<integer>-40</integer>
		<key>emacron</key>
		<integer>-50</integer>
		<key>hbar</key>
		<integer>30</integer>
		<key>ibreve</key>
		<integer>25</integer>
		<key>icircumflex</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>50</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>45</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>odieresis</key>
		<integer>-24</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-10</integer>
		<key>scircumflex</key>
		<integer>-20</integer>
		<key>udieresis</key>
		<integer>-19</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>ydieresis</key>
		<integer>-50</integer>
		<key>ygrave</key>
		<integer>-40</integer>
		<key>zcaron</key>
		<integer>-10</integer>
	</dict>
	<key>Tbar</key>
	<dict>
		<key>jcircumflex</key>
		<integer>20</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>adieresis</key>
		<integer>-16</integer>
		<key>ccaron</key>
		<integer>-50</integer>
		<key>ccircumflex</key>
		<integer>-50</integer>
		<key>ecaron</key>
		<integer>-60</integer>
		<key>ecircumflex</key>
		<integer>-50</integer>
		<key>edieresis</key>
		<integer>-24</integer>
		<key>egrave</key>
		<integer>-40</integer>
		<key>emacron</key>
		<integer>-50</integer>
		<key>hbar</key>
		<integer>30</integer>
		<key>ibreve</key>
		<integer>25</integer>
		<key>icircumflex</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>50</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>45</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>odieresis</key>
		<integer>-24</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-10</integer>
		<key>scircumflex</key>
		<integer>-20</integer>
		<key>udieresis</key>
		<integer>-19</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>ydieresis</key>
		<integer>-50</integer>
		<key>ygrave</key>
		<integer>-40</integer>
		<key>zcaron</key>
		<integer>-10</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>rcaron</key>
		<integer>10</integer>
		<key>scaron</key>
		<integer>-5</integer>
		<key>zcaron</key>
		<integer>-20</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>ibreve</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>itilde</key>
		<integer>30</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-25</integer>
	</dict>
	<key>Wacute</key>
	<dict>
		<key>ibreve</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>itilde</key>
		<integer>30</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-25</integer>
	</dict>
	<key>Wcircumflex</key>
	<dict>
		<key>ibreve</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>itilde</key>
		<integer>30</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-25</integer>
	</dict>
	<key>Wdieresis</key>
	<dict>
		<key>ibreve</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>itilde</key>
		<integer>30</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-25</integer>
	</dict>
	<key>Wgrave</key>
	<dict>
		<key>ibreve</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>itilde</key>
		<integer>30</integer>
		<key>rcaron</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>-25</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>igrave</key>
		<integer>30</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>abreve</key>
		<integer>-75</integer>
		<key>adieresis</key>
		<integer>-65</integer>
		<key>agrave</key>
		<integer>-55</integer>
		<key>amacron</key>
		<integer>-75</integer>
		<key>ebreve</key>
		<integer>-70</integer>
		<key>edieresis</key>
		<integer>-50</integer>
		<key>emacron</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>40</integer>
		<key>rcaron</key>
		<integer>15</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>-70</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>zcaron</key>
		<integer>10</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>abreve</key>
		<integer>-75</integer>
		<key>adieresis</key>
		<integer>-65</integer>
		<key>agrave</key>
		<integer>-55</integer>
		<key>amacron</key>
		<integer>-75</integer>
		<key>ebreve</key>
		<integer>-70</integer>
		<key>edieresis</key>
		<integer>-50</integer>
		<key>emacron</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>40</integer>
		<key>rcaron</key>
		<integer>15</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>-70</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>zcaron</key>
		<integer>10</integer>
	</dict>
	<key>Ycircumflex</key>
	<dict>
		<key>abreve</key>
		<integer>-75</integer>
		<key>adieresis</key>
		<integer>-65</integer>
		<key>agrave</key>
		<integer>-55</integer>
		<key>amacron</key>
		<integer>-75</integer>
		<key>ebreve</key>
		<integer>-70</integer>
		<key>edieresis</key>
		<integer>-50</integer>
		<key>emacron</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>40</integer>
		<key>rcaron</key>
		<integer>15</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>-70</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>zcaron</key>
		<integer>10</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>abreve</key>
		<integer>-75</integer>
		<key>adieresis</key>
		<integer>-65</integer>
		<key>agrave</key>
		<integer>-55</integer>
		<key>amacron</key>
		<integer>-75</integer>
		<key>ebreve</key>
		<integer>-70</integer>
		<key>edieresis</key>
		<integer>-50</integer>
		<key>emacron</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>40</integer>
		<key>rcaron</key>
		<integer>15</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>-70</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>zcaron</key>
		<integer>10</integer>
	</dict>
	<key>Ygrave</key>
	<dict>
		<key>abreve</key>
		<integer>-75</integer>
		<key>adieresis</key>
		<integer>-65</integer>
		<key>agrave</key>
		<integer>-55</integer>
		<key>amacron</key>
		<integer>-75</integer>
		<key>ebreve</key>
		<integer>-70</integer>
		<key>edieresis</key>
		<integer>-50</integer>
		<key>emacron</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>40</integer>
		<key>rcaron</key>
		<integer>15</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>-70</integer>
		<key>ugrave</key>
		<integer>-50</integer>
		<key>zcaron</key>
		<integer>10</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-56</integer>
		<key>@MMK_R_g</key>
		<integer>4</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-8</integer>
		<key>@MMK_R_w</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-13</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-40</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>4</integer>
		<key>@MMK_R_t</key>
		<integer>-26</integer>
		<key>@MMK_R_v</key>
		<integer>-8</integer>
		<key>@MMK_R_w</key>
		<integer>0</integer>
		<key>l</key>
		<integer>-10</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>dollar</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-30</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-8</integer>
		<key>@MMK_R_t</key>
		<integer>-24</integer>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_w</key>
		<integer>-11</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>0</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>seven</key>
		<integer>-23</integer>
	</dict>
	<key>exclam</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>30</integer>
	</dict>
	<key>five.osf</key>
	<dict>
		<key>five.osf</key>
		<integer>-5</integer>
		<key>four.osf</key>
		<integer>10</integer>
		<key>nine.osf</key>
		<integer>-20</integer>
		<key>one.osf</key>
		<integer>-20</integer>
		<key>seven.osf</key>
		<integer>-9</integer>
		<key>sterling</key>
		<integer>0</integer>
		<key>two.osf</key>
		<integer>-5</integer>
	</dict>
	<key>four.osf</key>
	<dict>
		<key>five.osf</key>
		<integer>-5</integer>
		<key>four.osf</key>
		<integer>24</integer>
		<key>one.osf</key>
		<integer>0</integer>
		<key>seven.osf</key>
		<integer>-14</integer>
		<key>sterling</key>
		<integer>9</integer>
		<key>three.osf</key>
		<integer>30</integer>
		<key>two.osf</key>
		<integer>20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-2</integer>
		<key>@MMK_R_f</key>
		<integer>15</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-11</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>10</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-6</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>15</integer>
		<key>@MMK_R_w</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>25</integer>
		<key>i</key>
		<integer>0</integer>
		<key>j</key>
		<integer>15</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_v</key>
		<integer>4</integer>
		<key>l</key>
		<integer>5</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-60</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>-12</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>-1</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>i</key>
		<integer>0</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>k</key>
		<integer>0</integer>
		<key>l</key>
		<integer>-12</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-8</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-44</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-2</integer>
		<key>@MMK_R_n</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-25</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-23</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>nine</key>
		<integer>28</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>nine.osf</key>
	<dict>
		<key>one.osf</key>
		<integer>-10</integer>
		<key>seven.osf</key>
		<integer>-19</integer>
		<key>sterling</key>
		<integer>10</integer>
	</dict>
	<key>numbersign</key>
	<dict>
		<key>four.osf</key>
		<integer>-20</integer>
		<key>seven.osf</key>
		<integer>30</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>20</integer>
	</dict>
	<key>one.osf</key>
	<dict>
		<key>five.osf</key>
		<integer>-5</integer>
		<key>four.osf</key>
		<integer>9</integer>
		<key>nine.osf</key>
		<integer>-9</integer>
		<key>one.osf</key>
		<integer>0</integer>
		<key>seven.osf</key>
		<integer>-33</integer>
		<key>sterling</key>
		<integer>5</integer>
		<key>three.osf</key>
		<integer>5</integer>
		<key>two.osf</key>
		<integer>5</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-2</integer>
		<key>@MMK_R_o</key>
		<integer>12</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_x</key>
		<integer>-33</integer>
		<key>p</key>
		<integer>0</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-11</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
		<key>i</key>
		<integer>0</integer>
	</dict>
	<key>section</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>30</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>-130</integer>
		<key>eight</key>
		<integer>-30</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>10</integer>
		<key>one</key>
		<integer>30</integer>
		<key>seven</key>
		<integer>20</integer>
		<key>two</key>
		<integer>10</integer>
	</dict>
	<key>seven.osf</key>
	<dict>
		<key>five.osf</key>
		<integer>-9</integer>
		<key>four.osf</key>
		<integer>-24</integer>
		<key>nine.osf</key>
		<integer>-5</integer>
		<key>numbersign</key>
		<integer>-10</integer>
		<key>one.osf</key>
		<integer>-14</integer>
		<key>seven.osf</key>
		<integer>24</integer>
		<key>sterling</key>
		<integer>-9</integer>
		<key>three.osf</key>
		<integer>10</integer>
		<key>two.osf</key>
		<integer>-9</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>0</integer>
	</dict>
	<key>sterling</key>
	<dict>
		<key>four.osf</key>
		<integer>9</integer>
		<key>nine.osf</key>
		<integer>-10</integer>
		<key>one.osf</key>
		<integer>-9</integer>
		<key>seven.osf</key>
		<integer>0</integer>
		<key>three.osf</key>
		<integer>0</integer>
		<key>two.osf</key>
		<integer>5</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>2</integer>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_w</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>0</integer>
		<key>i</key>
		<integer>0</integer>
		<key>l</key>
		<integer>10</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
	</dict>
	<key>three.osf</key>
	<dict>
		<key>five.osf</key>
		<integer>-5</integer>
		<key>four.osf</key>
		<integer>0</integer>
		<key>nine.osf</key>
		<integer>0</integer>
		<key>seven.osf</key>
		<integer>-19</integer>
		<key>sterling</key>
		<integer>10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>zero</key>
		<integer>5</integer>
	</dict>
	<key>two.osf</key>
	<dict>
		<key>five.osf</key>
		<integer>-9</integer>
		<key>four.osf</key>
		<integer>20</integer>
		<key>nine.osf</key>
		<integer>-14</integer>
		<key>one.osf</key>
		<integer>-29</integer>
		<key>seven.osf</key>
		<integer>-24</integer>
		<key>sterling</key>
		<integer>0</integer>
		<key>two.osf</key>
		<integer>-9</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>@MMK_R_r</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-3</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-30</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
