<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.0.tf</key>
    <array>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
    </array>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>colonsign</string>
      <string>colonsign.tf</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>franc</string>
      <string>franc.tf</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>won</string>
      <string>yen</string>
      <string>yen.tf</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Schwa</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
    </array>
    <key>public.kern1.Oslash</key>
    <array>
      <string>Oslash</string>
      <string>Oslashacute</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>published</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight.osf</string>
    </array>
    <key>public.kern1.emdash</key>
    <array>
      <string>emdash</string>
      <string>emdash.alt</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
      <string>five.osf</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
      <string>four.osf</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
      <string>fl</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>eng</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine.osf</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>at</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
      <string>one.osf</string>
    </array>
    <key>public.kern1.one.numr</key>
    <array>
      <string>four.numr</string>
    </array>
    <key>public.kern1.onehalf</key>
    <array>
      <string>one.numr</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>underscore</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>g.ss01</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotesinglbase</key>
    <array>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
      <string>seven.osf</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six.osf</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
    </array>
    <key>public.kern1.three</key>
    <array>
      <string>three.osf</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
      <string>two.osf</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>ddotbelow</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>q</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>l.ss01</string>
      <string>fi</string>
      <string>micro</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>three</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
    </array>
    <key>public.kern1.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>six.dnom</string>
      <string>eight.dnom</string>
    </array>
    <key>public.kern1.zero.numr</key>
    <array>
      <string>zero.numr</string>
      <string>three.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
    </array>
    <key>public.kern2.0.tf</key>
    <array>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>colonsign</string>
      <string>colonsign.tf</string>
    </array>
    <key>public.kern2.F</key>
    <array>
      <string>franc</string>
      <string>franc.tf</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>won</string>
      <string>yen</string>
      <string>yen.tf</string>
      <string>numero</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>Schwa</string>
    </array>
    <key>public.kern2.Oslash</key>
    <array>
      <string>Oslash</string>
      <string>Oslashacute</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>published</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight.osf</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>emdash.alt</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
      <string>five.osf</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
      <string>four.osf</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemetright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>germandbls</string>
      <string>l.ss01</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine.osf</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>g.ss01</string>
      <string>at</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
      <string>one.osf</string>
    </array>
    <key>public.kern2.one.numr</key>
    <array>
      <string>four.numr</string>
    </array>
    <key>public.kern2.onehalf</key>
    <array>
      <string>one.numr</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>question</string>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>underscore</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotesinglbase</key>
    <array>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
      <string>seven.osf</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>six.osf</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>three.osf</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
      <string>two.osf</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>micro</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>three</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
    </array>
    <key>public.kern2.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>six.dnom</string>
      <string>eight.dnom</string>
    </array>
    <key>public.kern2.zero.numr</key>
    <array>
      <string>zero.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
    </array>
  </dict>
</plist>
