<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_N</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-23</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>25</integer>
		<key>@MMK_R_Y</key>
		<integer>-65</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-35</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-45</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_AE</key>
		<integer>-110</integer>
		<key>@MMK_R_J</key>
		<integer>-7</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-15</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-2</integer>
		<key>@MMK_R_comma</key>
		<integer>-16</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-16</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_z</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>2</integer>
		<key>@MMK_R_AE</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-120</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>15</integer>
		<key>@MMK_R_X</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_Z</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-35</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_Oslash</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_parenright</key>
		<integer>-5</integer>
		<key>@MMK_R_z</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_S</key>
		<integer>-25</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_X</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>5</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_comma</key>
		<integer>10</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_AE</key>
		<integer>-90</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_W</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_Ohorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Oslash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_AE</key>
		<integer>-90</integer>
		<key>@MMK_R_J</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_comma</key>
		<integer>-85</integer>
		<key>@MMK_R_f</key>
		<integer>15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-14</integer>
		<key>@MMK_R_t</key>
		<integer>40</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_AE</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_AE</key>
		<integer>-70</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_N</key>
		<integer>5</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>5</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_Z</key>
		<integer>0</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>-5</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_AE</key>
		<integer>-80</integer>
		<key>@MMK_R_J</key>
		<integer>5</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>25</integer>
		<key>@MMK_R_W</key>
		<integer>25</integer>
		<key>@MMK_R_X</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>35</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_g</key>
		<integer>-90</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-60</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-75</integer>
		<key>@MMK_R_n</key>
		<integer>40</integer>
		<key>@MMK_R_o</key>
		<integer>-65</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-55</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_AE</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>0</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_Uhorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-125</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>50</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>5</integer>
		<key>@MMK_R_x</key>
		<integer>-100</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_AE</key>
		<integer>-70</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_Y</key>
		<integer>60</integer>
		<key>@MMK_R_Z</key>
		<integer>35</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_comma</key>
		<integer>-55</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-30</integer>
		<key>@MMK_R_h</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_parenright</key>
		<integer>15</integer>
		<key>@MMK_R_period</key>
		<integer>-160</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>5</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_AE</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>45</integer>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_N</key>
		<integer>30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Oslash</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>5</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>5</integer>
		<key>@MMK_R_W</key>
		<integer>15</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>15</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_AE</key>
		<integer>-70</integer>
		<key>@MMK_R_J</key>
		<integer>-65</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>35</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>55</integer>
		<key>@MMK_R_Z</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-52</integer>
		<key>@MMK_R_comma</key>
		<integer>-90</integer>
		<key>@MMK_R_g</key>
		<integer>-90</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-45</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_parenright</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_U</key>
		<integer>0</integer>
		<key>@MMK_R_V</key>
		<integer>5</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_Z</key>
		<integer>15</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-85</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_Z</key>
		<integer>10</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_eight</key>
	<dict>
		<key>@MMK_R_seven</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>-25</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>40</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_v</key>
		<integer>15</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_comma</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>15</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_guilsinglleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-15</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_f</key>
		<integer>5</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>15</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_i</key>
		<integer>-5</integer>
		<key>@MMK_R_n</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-60</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
		<key>l</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-2</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-25</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_nine</key>
	<dict>
		<key>@MMK_R_nine</key>
		<integer>30</integer>
		<key>@MMK_R_seven</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_N</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-2</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-25</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_ohorn</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>35</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_four</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-120</integer>
		<key>@MMK_R_seven</key>
		<integer>-20</integer>
		<key>@MMK_R_two</key>
		<integer>20</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-42</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>25</integer>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_h</key>
		<integer>5</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_h</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_e</key>
		<integer>-25</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-16</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>5</integer>
		<key>@MMK_R_h</key>
		<integer>30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-5</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>45</integer>
		<key>@MMK_R_v</key>
		<integer>25</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>-15</integer>
		<key>@MMK_R_f</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-9</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-3</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_eight</key>
		<integer>-30</integer>
		<key>@MMK_R_four</key>
		<integer>-40</integer>
		<key>@MMK_R_nine</key>
		<integer>10</integer>
		<key>@MMK_R_one</key>
		<integer>30</integer>
		<key>@MMK_R_parenright</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>-130</integer>
		<key>@MMK_R_seven</key>
		<integer>20</integer>
		<key>@MMK_R_two</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>15</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>5</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-2</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_three</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_two</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>10</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_uhorn</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>25</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>5</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-9</integer>
		<key>@MMK_R_n</key>
		<integer>10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_x</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>5</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_parenright</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-5</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_x</key>
		<integer>0</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_t</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-10</integer>
	</dict>
	<key>Hbar</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-55</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>5</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>5</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>exclam</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>30</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>15</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_V</key>
		<integer>0</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
