<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-70</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>50</integer>
		<key>@MMK_R_Y</key>
		<integer>-130</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-200</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-32</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_AE</key>
		<integer>-240</integer>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_N</key>
		<integer>40</integer>
		<key>@MMK_R_S</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_W</key>
		<integer>80</integer>
		<key>@MMK_R_X</key>
		<integer>60</integer>
		<key>@MMK_R_Y</key>
		<integer>40</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>40</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_Oslash</key>
		<integer>40</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-110</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_J</key>
		<integer>60</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-160</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_Y</key>
		<integer>-160</integer>
		<key>@MMK_R_Z</key>
		<integer>40</integer>
		<key>@MMK_R_comma</key>
		<integer>20</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-190</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_AE</key>
		<integer>-180</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Ohorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Oslash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>@MMK_R_AE</key>
		<integer>-180</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_S</key>
		<integer>40</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-170</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_period</key>
		<integer>-200</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>80</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>40</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>lslash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_AE</key>
		<integer>-140</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_N</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_AE</key>
		<integer>-160</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>80</integer>
		<key>@MMK_R_V</key>
		<integer>50</integer>
		<key>@MMK_R_W</key>
		<integer>50</integer>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>70</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_comma</key>
		<integer>-150</integer>
		<key>@MMK_R_g</key>
		<integer>-180</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-120</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-150</integer>
		<key>@MMK_R_n</key>
		<integer>-140</integer>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>@MMK_R_period</key>
		<integer>-240</integer>
		<key>@MMK_R_s</key>
		<integer>-110</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_x</key>
		<integer>-100</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
		<key>h</key>
		<integer>0</integer>
		<key>i</key>
		<integer>0</integer>
		<key>k</key>
		<integer>0</integer>
		<key>l</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_AE</key>
		<integer>-80</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_Uhorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-250</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>100</integer>
		<key>@MMK_R_W</key>
		<integer>80</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-180</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_x</key>
		<integer>-200</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_AE</key>
		<integer>-140</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>60</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_W</key>
		<integer>80</integer>
		<key>@MMK_R_X</key>
		<integer>80</integer>
		<key>@MMK_R_Y</key>
		<integer>120</integer>
		<key>@MMK_R_Z</key>
		<integer>70</integer>
		<key>@MMK_R_comma</key>
		<integer>-110</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-60</integer>
		<key>@MMK_R_h</key>
		<integer>40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_parenright</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>-320</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>30</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_AE</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>80</integer>
		<key>@MMK_R_V</key>
		<integer>20</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>90</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-40</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-160</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>40</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_Oslash</key>
		<integer>40</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>30</integer>
		<key>@MMK_R_X</key>
		<integer>130</integer>
		<key>@MMK_R_Y</key>
		<integer>80</integer>
		<key>@MMK_R_comma</key>
		<integer>30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-140</integer>
		<key>@MMK_R_AE</key>
		<integer>-140</integer>
		<key>@MMK_R_J</key>
		<integer>-130</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-70</integer>
		<key>@MMK_R_T</key>
		<integer>70</integer>
		<key>@MMK_R_V</key>
		<integer>60</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>110</integer>
		<key>@MMK_R_comma</key>
		<integer>-180</integer>
		<key>@MMK_R_g</key>
		<integer>-180</integer>
		<key>@MMK_R_guilsinglright</key>
		<integer>-90</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-160</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_parenright</key>
		<integer>20</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-120</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_Z</key>
		<integer>30</integer>
		<key>@MMK_R_comma</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-170</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-150</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-110</integer>
		<key>@MMK_R_W</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_Y</key>
		<integer>-180</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_parenright</key>
		<integer>-120</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_eight</key>
	<dict>
		<key>@MMK_R_seven</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_h</key>
		<integer>-40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_i</key>
		<integer>30</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_x</key>
		<integer>0</integer>
		<key>j</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_guilsinglleft</key>
	<dict>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-150</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-160</integer>
		<key>@MMK_R_Z</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>30</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-120</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>j</key>
		<integer>0</integer>
		<key>l</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-130</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_nine</key>
	<dict>
		<key>@MMK_R_nine</key>
		<integer>60</integer>
		<key>@MMK_R_seven</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_N</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>-200</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-160</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>f</key>
		<integer>-50</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_ohorn</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-160</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>70</integer>
		<key>@MMK_R_T</key>
		<integer>-240</integer>
		<key>@MMK_R_V</key>
		<integer>-200</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-120</integer>
		<key>@MMK_R_four</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-240</integer>
		<key>@MMK_R_seven</key>
		<integer>-40</integer>
		<key>@MMK_R_two</key>
		<integer>40</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-84</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>50</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>60</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>40</integer>
		<key>@MMK_R_v</key>
		<integer>60</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-120</integer>
		<key>@MMK_R_v</key>
		<integer>40</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>space</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-140</integer>
		<key>@MMK_R_h</key>
		<integer>-100</integer>
		<key>@MMK_R_n</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-140</integer>
		<key>@MMK_R_s</key>
		<integer>-180</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_x</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_e</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_parenright</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-130</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-70</integer>
		<key>r</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_eight</key>
		<integer>-60</integer>
		<key>@MMK_R_four</key>
		<integer>-80</integer>
		<key>@MMK_R_nine</key>
		<integer>20</integer>
		<key>@MMK_R_one</key>
		<integer>60</integer>
		<key>@MMK_R_parenright</key>
		<integer>60</integer>
		<key>@MMK_R_period</key>
		<integer>-260</integer>
		<key>@MMK_R_seven</key>
		<integer>40</integer>
		<key>@MMK_R_two</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_six</key>
	<dict>
		<key>@MMK_R_seven</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_three</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_two</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_quotesingle</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_uhorn</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>30</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_h</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_parenright</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>40</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-70</integer>
		<key>lslash</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_parenright</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-50</integer>
		<key>lslash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-20</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-70</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-30</integer>
	</dict>
	<key>dcroat</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>exclam</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>60</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>four.dnom</key>
		<integer>-120</integer>
		<key>two.dnom</key>
		<integer>40</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_h</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>two.numr</key>
	<dict>
		<key>fraction</key>
		<integer>40</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>a</key>
		<integer>-70</integer>
	</dict>
</dict>
</plist>
