<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1446</integer>
    <key>capHeight</key>
    <integer>1446</integer>
    <key>copyright</key>
    <string>Copyright 2015 The Public Sans Project Authors (https://github.com/uswds/public-sans)</string>
    <key>descender</key>
    <integer>-322</integer>
    <key>familyName</key>
    <string>Public Sans</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/07/15 15:46:26</string>
    <key>openTypeHheaAscender</key>
    <integer>1900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-450</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Public Sans is based on Libre Franklin, which is a reinterpretation and expansion of the 1912 Morris Fuller Benton’s classic.</string>
    <key>openTypeNameDesigner</key>
    <string>The Public Sans project authors (U.S. Web Design System). Libre Franklin designed by Pablo Impallari and Rodrigo Fuenzalida.</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://designsystem.digital.gov and http://www.impallari.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL. The license for USWDS’s Modified Version, covering USWDS’s modifications to Public Sans, is available at https://github.com/uswds/public-sans/blob/master/LICENSE.md.</string>
    <key>openTypeNameLicenseURL</key>
    <string>SIL Open Font License, Version 1.1: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL_web; USWDS Modified Version: https://github.com/uswds/public-sans/blob/master/LICENSE.md</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-450</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2315</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>495</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-22</integer>
      <integer>0</integer>
      <integer>1034</integer>
      <integer>1056</integer>
      <integer>1155</integer>
      <integer>1165</integer>
      <integer>1446</integer>
      <integer>1486</integer>
      <integer>1446</integer>
      <integer>1486</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-339</integer>
      <integer>-322</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>76</integer>
      <integer>82</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>78</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-370</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>140</integer>
    <key>styleMapFamilyName</key>
    <string>Public Sans Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>1034</integer>
  </dict>
</plist>
