<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-70</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
    </dict>
    <key>dcroat</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-50</integer>
    </dict>
    <key>exclam</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>four.dnom</key>
      <integer>-185</integer>
      <key>one.dnom</key>
      <integer>70</integer>
      <key>public.kern2.zero.dnom</key>
      <integer>-30</integer>
      <key>seven.dnom</key>
      <integer>115</integer>
      <key>two.dnom</key>
      <integer>40</integer>
    </dict>
    <key>lslash</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-40</integer>
    </dict>
    <key>oslash</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-180</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-235</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>50</integer>
      <key>public.kern2.Y</key>
      <integer>-125</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>-120</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-195</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.seven</key>
      <integer>-115</integer>
      <key>public.kern2.t</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.AE</key>
      <integer>40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.D</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>-70</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.AE</key>
      <integer>-235</integer>
      <key>public.kern2.J</key>
      <integer>40</integer>
      <key>public.kern2.N</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.W</key>
      <integer>80</integer>
      <key>public.kern2.X</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>40</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.emdash</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-75</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-125</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>40</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.Oslash</key>
      <integer>40</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>20</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-105</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-105</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.J</key>
      <integer>40</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-195</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-115</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>-155</integer>
      <key>public.kern2.Z</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>-120</integer>
      <key>public.kern2.g</key>
      <integer>10</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-115</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-185</integer>
      <key>public.kern2.t</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.emdash</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.AE</key>
      <integer>-175</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.emdash</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.quoteright</key>
      <integer>-60</integer>
      <key>public.kern2.seven</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Ohorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Oslash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.AE</key>
      <integer>-175</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.S</key>
      <integer>40</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-165</integer>
      <key>public.kern2.emdash</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-195</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.x</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.AE</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-90</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.AE</key>
      <integer>-135</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>b</key>
      <integer>0</integer>
      <key>h</key>
      <integer>0</integer>
      <key>i</key>
      <integer>0</integer>
      <key>k</key>
      <integer>0</integer>
      <key>l</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-180</integer>
      <key>public.kern2.AE</key>
      <integer>-135</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>80</integer>
      <key>public.kern2.W</key>
      <integer>50</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>100</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.a</key>
      <integer>-115</integer>
      <key>public.kern2.comma</key>
      <integer>-145</integer>
      <key>public.kern2.four</key>
      <integer>-155</integer>
      <key>public.kern2.g</key>
      <integer>-130</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-115</integer>
      <key>public.kern2.hyphen</key>
      <integer>-185</integer>
      <key>public.kern2.j</key>
      <integer>60</integer>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-125</integer>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.quoteright</key>
      <integer>60</integer>
      <key>public.kern2.s</key>
      <integer>-105</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.x</key>
      <integer>-80</integer>
      <key>public.kern2.z</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.AE</key>
      <integer>-60</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-245</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>100</integer>
      <key>public.kern2.W</key>
      <integer>80</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.x</key>
      <integer>-45</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>ae</key>
      <integer>-125</integer>
      <key>public.kern2.A</key>
      <integer>-235</integer>
      <key>public.kern2.AE</key>
      <integer>-185</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.W</key>
      <integer>80</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>115</integer>
      <key>public.kern2.Z</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.comma</key>
      <integer>-105</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-90</integer>
      <key>public.kern2.j</key>
      <integer>60</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-145</integer>
      <key>public.kern2.AE</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.W</key>
      <integer>40</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>90</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-155</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>40</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>40</integer>
      <key>public.kern2.Oslash</key>
      <integer>40</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>30</integer>
      <key>public.kern2.X</key>
      <integer>125</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.comma</key>
      <integer>30</integer>
      <key>public.kern2.emdash</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>h</key>
      <integer>0</integer>
      <key>k</key>
      <integer>0</integer>
      <key>l</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-135</integer>
      <key>public.kern2.AE</key>
      <integer>-135</integer>
      <key>public.kern2.J</key>
      <integer>-125</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>70</integer>
      <key>public.kern2.V</key>
      <integer>60</integer>
      <key>public.kern2.W</key>
      <integer>40</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>105</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.comma</key>
      <integer>-175</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-115</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-90</integer>
      <key>public.kern2.hyphen</key>
      <integer>-155</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.parenright</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>public.kern2.s</key>
      <integer>-115</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.x</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>40</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.Z</key>
      <integer>30</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-165</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-145</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-105</integer>
      <key>public.kern2.W</key>
      <integer>-80</integer>
      <key>public.kern2.X</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>-175</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>20</integer>
      <key>public.kern2.parenright</key>
      <integer>-115</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-20</integer>
      <key>public.kern2.seven</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.emdash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.N</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-80</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>80</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>40</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>onehalf</key>
      <integer>115</integer>
      <key>public.kern2.onehalf</key>
      <integer>115</integer>
      <key>public.kern2.zero.numr</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>onehalf</key>
      <integer>100</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.five</key>
      <integer>-10</integer>
      <key>public.kern2.onehalf</key>
      <integer>115</integer>
      <key>public.kern2.zero.numr</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-90</integer>
      <key>public.kern2.i</key>
      <integer>30</integer>
      <key>public.kern2.j</key>
      <integer>40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-115</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-275</integer>
      <key>public.kern2.V</key>
      <integer>-175</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-155</integer>
      <key>public.kern2.Z</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.one</key>
      <integer>-165</integer>
      <key>public.kern2.seven</key>
      <integer>-235</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
      <key>space</key>
      <integer>-500</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>l</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-115</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-115</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-275</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-115</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.seven</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.nine</key>
    <dict>
      <key>public.kern2.nine</key>
      <integer>60</integer>
      <key>public.kern2.seven</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-195</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen</key>
      <integer>20</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-100</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-155</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>space</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.ohorn</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-75</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.one</key>
    <dict>
      <key>onehalf</key>
      <integer>115</integer>
      <key>public.kern2.onehalf</key>
      <integer>60</integer>
      <key>public.kern2.zero.numr</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.onehalf</key>
    <dict>
      <key>fraction</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>70</integer>
      <key>public.kern2.J</key>
      <integer>40</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.four</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>40</integer>
      <key>public.kern2.period</key>
      <integer>135</integer>
      <key>public.kern2.quoteright</key>
      <integer>-125</integer>
      <key>public.kern2.seven</key>
      <integer>-40</integer>
      <key>public.kern2.two</key>
      <integer>40</integer>
      <key>space</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-165</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>50</integer>
      <key>public.kern2.W</key>
      <integer>20</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-105</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>40</integer>
      <key>public.kern2.v</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-185</integer>
      <key>public.kern2.a</key>
      <integer>-115</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-115</integer>
      <key>public.kern2.period</key>
      <integer>-175</integer>
      <key>public.kern2.s</key>
      <integer>-115</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
      <key>space</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-135</integer>
      <key>public.kern2.g</key>
      <integer>-135</integer>
      <key>public.kern2.n</key>
      <integer>-115</integer>
      <key>public.kern2.o</key>
      <integer>-135</integer>
      <key>public.kern2.s</key>
      <integer>-175</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen</key>
      <integer>-145</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.parenright</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-185</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.x</key>
      <integer>30</integer>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>onehalf</key>
      <integer>195</integer>
      <key>public.kern2.eight</key>
      <integer>-60</integer>
      <key>public.kern2.four</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.nine</key>
      <integer>20</integer>
      <key>public.kern2.one</key>
      <integer>60</integer>
      <key>public.kern2.onehalf</key>
      <integer>195</integer>
      <key>public.kern2.parenright</key>
      <integer>60</integer>
      <key>public.kern2.period</key>
      <integer>-255</integer>
      <key>public.kern2.seven</key>
      <integer>40</integer>
      <key>public.kern2.two</key>
      <integer>20</integer>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
      <key>public.kern2.zero.numr</key>
      <integer>80</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.seven</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.three</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>onehalf</key>
      <integer>115</integer>
      <key>public.kern2.onehalf</key>
      <integer>115</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.zero.numr</key>
      <integer>125</integer>
      <key>seven.numr</key>
      <integer>100</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uhorn</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>30</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.quotesingle</key>
      <integer>40</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>onehalf</key>
      <integer>115</integer>
      <key>public.kern2.onehalf</key>
      <integer>115</integer>
      <key>public.kern2.seven</key>
      <integer>-40</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
      <key>public.kern2.zero.numr</key>
      <integer>115</integer>
    </dict>
    <key>public.kern1.zero.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-20</integer>
    </dict>
    <key>seven.dnom</key>
    <dict>
      <key>public.kern2.zero.dnom</key>
      <integer>-10</integer>
    </dict>
    <key>seven.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-135</integer>
      <key>public.kern2.zero.numr</key>
      <integer>-20</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-340</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-130</integer>
    </dict>
    <key>two.numr</key>
    <dict>
      <key>fraction</key>
      <integer>90</integer>
    </dict>
  </dict>
</plist>
