<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>5</integer>
    <key>GSOffsetKeepCompatible</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>5</integer>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3114</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Thin</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>91AB5BCA-6A50-42DA-B2F7-8181BF189245</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Schwa</string>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>germandbls</string>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>g.ss01</string>
      <string>l.ss01</string>
      <string>fi</string>
      <string>fl</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>pi</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>fraction.alt</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>period.tf</string>
      <string>comma.tf</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>emdash.alt</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>space</string>
      <string>nbspace</string>
      <string>CR</string>
      <string>.notdef</string>
      <string>cent</string>
      <string>colonsign</string>
      <string>currency</string>
      <string>dollar</string>
      <string>dong</string>
      <string>euro</string>
      <string>florin</string>
      <string>franc</string>
      <string>lira</string>
      <string>liraTurkish</string>
      <string>naira</string>
      <string>rupeeIndian</string>
      <string>sterling</string>
      <string>won</string>
      <string>yen</string>
      <string>cent.tf</string>
      <string>colonsign.tf</string>
      <string>dollar.tf</string>
      <string>dong.tf</string>
      <string>euro.tf</string>
      <string>florin.tf</string>
      <string>franc.tf</string>
      <string>lira.tf</string>
      <string>liraTurkish.tf</string>
      <string>rupeeIndian.tf</string>
      <string>sterling.tf</string>
      <string>yen.tf</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>emptyset</string>
      <string>infinity</string>
      <string>integral</string>
      <string>Ohm</string>
      <string>increment</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>partialdiff</string>
      <string>micro</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>lozenge</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>published</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>literSign</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>numero</string>
      <string>servicemark</string>
      <string>apostrophemod</string>
      <string>commaturnedmod</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb.alt</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>hookabovecomb</string>
      <string>dblgravecomb</string>
      <string>breveinvertedcomb</string>
      <string>commaturnedabovecomb</string>
      <string>horncomb</string>
      <string>dotbelowcomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>gravecomb.narrow</string>
      <string>acutecomb.narrow</string>
      <string>gravecomb.viet</string>
      <string>acutecomb.viet</string>
      <string>brevecomb_acutecomb</string>
      <string>brevecomb_gravecomb</string>
      <string>brevecomb_hookabovecomb</string>
      <string>brevecomb_tildecomb</string>
      <string>circumflexcomb_acutecomb</string>
      <string>circumflexcomb_gravecomb</string>
      <string>circumflexcomb_hookabovecomb</string>
      <string>circumflexcomb_tildecomb</string>
      <string>uni0000</string>
      <string>__horn</string>
      <string>espaciador</string>
      <string>_ringacute</string>
      <string>_j-hook</string>
      <string>_dot</string>
      <string>_emdash</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Abreveacute</key>
      <string>uni1EAE</string>
      <key>Abrevedotbelow</key>
      <string>uni1EB6</string>
      <key>Abrevegrave</key>
      <string>uni1EB0</string>
      <key>Abrevehookabove</key>
      <string>uni1EB2</string>
      <key>Abrevetilde</key>
      <string>uni1EB4</string>
      <key>Acircumflexacute</key>
      <string>uni1EA4</string>
      <key>Acircumflexdotbelow</key>
      <string>uni1EAC</string>
      <key>Acircumflexgrave</key>
      <string>uni1EA6</string>
      <key>Acircumflexhookabove</key>
      <string>uni1EA8</string>
      <key>Acircumflextilde</key>
      <string>uni1EAA</string>
      <key>Adblgrave</key>
      <string>uni0200</string>
      <key>Adotbelow</key>
      <string>uni1EA0</string>
      <key>Ahookabove</key>
      <string>uni1EA2</string>
      <key>Ainvertedbreve</key>
      <string>uni0202</string>
      <key>Ddotbelow</key>
      <string>uni1E0C</string>
      <key>Ecircumflexacute</key>
      <string>uni1EBE</string>
      <key>Ecircumflexdotbelow</key>
      <string>uni1EC6</string>
      <key>Ecircumflexgrave</key>
      <string>uni1EC0</string>
      <key>Ecircumflexhookabove</key>
      <string>uni1EC2</string>
      <key>Ecircumflextilde</key>
      <string>uni1EC4</string>
      <key>Edblgrave</key>
      <string>uni0204</string>
      <key>Edotbelow</key>
      <string>uni1EB8</string>
      <key>Ehookabove</key>
      <string>uni1EBA</string>
      <key>Einvertedbreve</key>
      <string>uni0206</string>
      <key>Etilde</key>
      <string>uni1EBC</string>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Hdotbelow</key>
      <string>uni1E24</string>
      <key>Idblgrave</key>
      <string>uni0208</string>
      <key>Idotbelow</key>
      <string>uni1ECA</string>
      <key>Ihookabove</key>
      <string>uni1EC8</string>
      <key>Iinvertedbreve</key>
      <string>uni020A</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Lcommaaccent</key>
      <string>uni013B</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Ndotaccent</key>
      <string>uni1E44</string>
      <key>Ocircumflexacute</key>
      <string>uni1ED0</string>
      <key>Ocircumflexdotbelow</key>
      <string>uni1ED8</string>
      <key>Ocircumflexgrave</key>
      <string>uni1ED2</string>
      <key>Ocircumflexhookabove</key>
      <string>uni1ED4</string>
      <key>Ocircumflextilde</key>
      <string>uni1ED6</string>
      <key>Odblgrave</key>
      <string>uni020C</string>
      <key>Odotbelow</key>
      <string>uni1ECC</string>
      <key>Ohm</key>
      <string>uni2126</string>
      <key>Ohookabove</key>
      <string>uni1ECE</string>
      <key>Ohornacute</key>
      <string>uni1EDA</string>
      <key>Ohorndotbelow</key>
      <string>uni1EE2</string>
      <key>Ohorngrave</key>
      <string>uni1EDC</string>
      <key>Ohornhookabove</key>
      <string>uni1EDE</string>
      <key>Ohorntilde</key>
      <string>uni1EE0</string>
      <key>Oinvertedbreve</key>
      <string>uni020E</string>
      <key>Oogonek</key>
      <string>uni01EA</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Rdblgrave</key>
      <string>uni0210</string>
      <key>Rdotbelow</key>
      <string>uni1E5A</string>
      <key>Rinvertedbreve</key>
      <string>uni0212</string>
      <key>Schwa</key>
      <string>uni018F</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Sdotbelow</key>
      <string>uni1E62</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>Tdotbelow</key>
      <string>uni1E6C</string>
      <key>Udblgrave</key>
      <string>uni0214</string>
      <key>Udotbelow</key>
      <string>uni1EE4</string>
      <key>Uhookabove</key>
      <string>uni1EE6</string>
      <key>Uhornacute</key>
      <string>uni1EE8</string>
      <key>Uhorndotbelow</key>
      <string>uni1EF0</string>
      <key>Uhorngrave</key>
      <string>uni1EEA</string>
      <key>Uhornhookabove</key>
      <string>uni1EEC</string>
      <key>Uhorntilde</key>
      <string>uni1EEE</string>
      <key>Uinvertedbreve</key>
      <string>uni0216</string>
      <key>Ydotbelow</key>
      <string>uni1EF4</string>
      <key>Yhookabove</key>
      <string>uni1EF6</string>
      <key>Ytilde</key>
      <string>uni1EF8</string>
      <key>Zdotbelow</key>
      <string>uni1E92</string>
      <key>_j-hook</key>
      <string>_jhook</string>
      <key>abreveacute</key>
      <string>uni1EAF</string>
      <key>abrevedotbelow</key>
      <string>uni1EB7</string>
      <key>abrevegrave</key>
      <string>uni1EB1</string>
      <key>abrevehookabove</key>
      <string>uni1EB3</string>
      <key>abrevetilde</key>
      <string>uni1EB5</string>
      <key>acircumflexacute</key>
      <string>uni1EA5</string>
      <key>acircumflexdotbelow</key>
      <string>uni1EAD</string>
      <key>acircumflexgrave</key>
      <string>uni1EA7</string>
      <key>acircumflexhookabove</key>
      <string>uni1EA9</string>
      <key>acircumflextilde</key>
      <string>uni1EAB</string>
      <key>adblgrave</key>
      <string>uni0201</string>
      <key>adotbelow</key>
      <string>uni1EA1</string>
      <key>ahookabove</key>
      <string>uni1EA3</string>
      <key>ainvertedbreve</key>
      <string>uni0203</string>
      <key>apostrophemod</key>
      <string>uni02BC</string>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>brevecomb_acutecomb</key>
      <string>uni03060301</string>
      <key>brevecomb_gravecomb</key>
      <string>uni03060300</string>
      <key>brevecomb_hookabovecomb</key>
      <string>uni03060309</string>
      <key>brevecomb_tildecomb</key>
      <string>uni03060303</string>
      <key>breveinvertedcomb</key>
      <string>uni0311</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>caroncomb.alt</key>
      <string>uni030C.alt</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb_acutecomb</key>
      <string>uni03020301</string>
      <key>circumflexcomb_gravecomb</key>
      <string>uni03020300</string>
      <key>circumflexcomb_hookabovecomb</key>
      <string>uni03020309</string>
      <key>circumflexcomb_tildecomb</key>
      <string>uni03020303</string>
      <key>colonsign</key>
      <string>colonmonetary</string>
      <key>colonsign.tf</key>
      <string>colonmonetary.tf</string>
      <key>commaaccentcomb</key>
      <string>uni0326</string>
      <key>commaturnedabovecomb</key>
      <string>uni0312</string>
      <key>commaturnedmod</key>
      <string>uni02BB</string>
      <key>dblgravecomb</key>
      <string>uni030F</string>
      <key>ddotbelow</key>
      <string>uni1E0D</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>ecircumflexacute</key>
      <string>uni1EBF</string>
      <key>ecircumflexdotbelow</key>
      <string>uni1EC7</string>
      <key>ecircumflexgrave</key>
      <string>uni1EC1</string>
      <key>ecircumflexhookabove</key>
      <string>uni1EC3</string>
      <key>ecircumflextilde</key>
      <string>uni1EC5</string>
      <key>edblgrave</key>
      <string>uni0205</string>
      <key>edotbelow</key>
      <string>uni1EB9</string>
      <key>ehookabove</key>
      <string>uni1EBB</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>einvertedbreve</key>
      <string>uni0207</string>
      <key>etilde</key>
      <string>uni1EBD</string>
      <key>euro</key>
      <string>Euro</string>
      <key>euro.tf</key>
      <string>Euro.tf</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>gcommaaccent</key>
      <string>uni0123</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hdotbelow</key>
      <string>uni1E25</string>
      <key>horncomb</key>
      <string>uni031B</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>idblgrave</key>
      <string>uni0209</string>
      <key>idotaccent</key>
      <string>i.loclTRK</string>
      <key>idotbelow</key>
      <string>uni1ECB</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>ihookabove</key>
      <string>uni1EC9</string>
      <key>iinvertedbreve</key>
      <string>uni020B</string>
      <key>increment</key>
      <string>uni2206</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>kcommaaccent</key>
      <string>uni0137</string>
      <key>lcommaaccent</key>
      <string>uni013C</string>
      <key>liraTurkish</key>
      <string>uni20BA</string>
      <key>liraTurkish.tf</key>
      <string>uni20BA.tf</string>
      <key>literSign</key>
      <string>uni2113</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>naira</key>
      <string>uni20A6</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ncommaaccent</key>
      <string>uni0146</string>
      <key>ndotaccent</key>
      <string>uni1E45</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>numero</key>
      <string>uni2116</string>
      <key>ocircumflexacute</key>
      <string>uni1ED1</string>
      <key>ocircumflexdotbelow</key>
      <string>uni1ED9</string>
      <key>ocircumflexgrave</key>
      <string>uni1ED3</string>
      <key>ocircumflexhookabove</key>
      <string>uni1ED5</string>
      <key>ocircumflextilde</key>
      <string>uni1ED7</string>
      <key>odblgrave</key>
      <string>uni020D</string>
      <key>odotbelow</key>
      <string>uni1ECD</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>ohookabove</key>
      <string>uni1ECF</string>
      <key>ohornacute</key>
      <string>uni1EDB</string>
      <key>ohorndotbelow</key>
      <string>uni1EE3</string>
      <key>ohorngrave</key>
      <string>uni1EDD</string>
      <key>ohornhookabove</key>
      <string>uni1EDF</string>
      <key>ohorntilde</key>
      <string>uni1EE1</string>
      <key>oinvertedbreve</key>
      <string>uni020F</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>onethird</key>
      <string>uni2153</string>
      <key>oogonek</key>
      <string>uni01EB</string>
      <key>published</key>
      <string>uni2117</string>
      <key>rcommaaccent</key>
      <string>uni0157</string>
      <key>rdblgrave</key>
      <string>uni0211</string>
      <key>rdotbelow</key>
      <string>uni1E5B</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>rinvertedbreve</key>
      <string>uni0213</string>
      <key>rupeeIndian</key>
      <string>uni20B9</string>
      <key>rupeeIndian.tf</key>
      <string>uni20B9.tf</string>
      <key>schwa</key>
      <string>uni0259</string>
      <key>scommaaccent</key>
      <string>uni0219</string>
      <key>sdotbelow</key>
      <string>uni1E63</string>
      <key>servicemark</key>
      <string>uni2120</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>tcedilla</key>
      <string>uni0163</string>
      <key>tcommaaccent</key>
      <string>uni021B</string>
      <key>tdotbelow</key>
      <string>uni1E6D</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>twothirds</key>
      <string>uni2154</string>
      <key>ucaron</key>
      <string>uni01D4</string>
      <key>udblgrave</key>
      <string>uni0215</string>
      <key>udotbelow</key>
      <string>uni1EE5</string>
      <key>uhookabove</key>
      <string>uni1EE7</string>
      <key>uhornacute</key>
      <string>uni1EE9</string>
      <key>uhorndotbelow</key>
      <string>uni1EF1</string>
      <key>uhorngrave</key>
      <string>uni1EEB</string>
      <key>uhornhookabove</key>
      <string>uni1EED</string>
      <key>uhorntilde</key>
      <string>uni1EEF</string>
      <key>uinvertedbreve</key>
      <string>uni0217</string>
      <key>won</key>
      <string>uni20A9</string>
      <key>ydotbelow</key>
      <string>uni1EF5</string>
      <key>yhookabove</key>
      <string>uni1EF7</string>
      <key>ytilde</key>
      <string>uni1EF9</string>
      <key>zdotbelow</key>
      <string>uni1E93</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>__horn</string>
      <string>_dot</string>
      <string>_emdash</string>
      <string>_j-hook</string>
      <string>_ringacute</string>
      <string>espaciador</string>
    </array>
  </dict>
</plist>
