---
---

<!doctype html>
<html class="" lang="en">
{% include head.html %}

<body class="{{ page.bodyclasses }}">
  {% include gov-banner.html %}
  {% include header.html %}
  <main id="main-content">
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47271808-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-47271808-2');
  </script>

</body>
</html>
