---
---

<!doctype html>
<html lang="en">
{% include head.html %}
  <body class="{{ page.bodyclasses }}">
    {% include usa-skipnav.html %}
    {% include usa-banner.html %}
    {% include header.html %}
    <main id="main-content">
      {{ content }}
    </main>
    {% include usa-identifier.html %}
    <script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47271808-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-47271808-2');
    </script>
  </body>
</html>
