---
layout: default
---

{% capture specimen_alphabet %}
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
{% endcapture %}

{% capture specimen_text %}
Simon Wheeler backed me into a corner and blockaded me there with his chair, and then sat me down and reeled off the monotonous narrative which follows this paragraph.
{% endcapture %}

{% capture specimen_translated %}
Simon Wheeler me hizo retroceder en una esquina y me bloqueó allí con su silla, y luego me sentó y me dio cuenta de la monótona narrativa que sigue a este párrafo.
{% endcapture %}

<div class="site-specimen grid-container">
  <div class="site-specimen--container">
    <h1 class="huge _switchOnHover text-{{ page.weight }} overflow-visible">
      <span class="_switchOnHoverHide ani-opacity">Hello</span>
      <span class="_switchOnHoverShow ani-opacity"><i>Hola</i></span>
    </h1>
    <div class="site-alphabet">
      {% for instance in site.data.sizes %}
        <div class="site-alphabet--instance grid-row">
          <div class="site-alphabet--instance-container grid-col-12 font-sans-{{ instance.token }} text-{{ page.weight }}">
            {{ specimen_alphabet }}
          </div>
        </div>
        <div class="site-alphabet--instance-token grid-row">
          <div class="grid-col">
            <a href="https://designsystem.digital.gov/design-tokens/typesetting/font-size/" class="token">uswds .font-sans-{{ instance.token }}</a>
          </div>
          <div class="grid-col-auto">
            <span class="site-alphabet--instance-size">{{ instance.pixels }}px</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- relative size -->
    <h2 class="site-rel-size--title">Relative size</h2>
    <div class="grid-row site-rel-size">
      {% assign comparisons = "Public Sans, System, Verdana, Georgia" | split: ", " %}
      {% for comparison in comparisons %}
      {% if comparison == "Public Sans" %}
      {% assign fontClass = "cont-sans-12" %}
      {% else %}
      {% assign fontClass = "site-font-" | append: comparison | slugify %}
      {% endif %}
      <div class="grid-col-3">
        <span class="site-rel-size--name">{{ comparison }}</span>
        <span class="site-comparison {{ fontClass }} text-{{ page.weight }}">Calypso!</span>
        <span class="site-comparison--isMobile {{ fontClass }} text-{{ page.weight }}">Aa</span>
      </div>
      {% endfor %}
      <!-- baseline -->
      <div class="site-rel-size--baseline"></div>
      <!-- x-height -->
      <div class="site-rel-size--x-height"></div>
      <!-- cap height -->
      <div class="site-rel-size--cap-height"></div>
    </div>

    <!-- examples on white -->
    <div class="site-examples">
      <h2 class="site-examples--title">Text examples</h2>
      <div class="grid-row grid-gap flex-align-stretch">
        {% for instance in site.data.sizes %}
          {% if instance.no_example != true %}
            <div class="site-examples--example tablet:grid-col-{{ instance.columns }}">
              <p class="font-sans-{{ instance.token }} text-{{ page.weight }} line-height-tight _switchOnHover">
								<span class="_switchOnHoverHide ani-opacity">{{ specimen_text }}</span>
								<span class="_switchOnHoverShow ani-opacity"><i>{{ specimen_translated }}</i></span>
              </p>
              <div class="site-examples--meta">
                <a href="https://designsystem.digital.gov/design-tokens/typesetting/font-size/" class="token">uswds .font-sans-{{ instance.token}}</a>
                <span class="pixels">{{ instance.pixels }}px</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="site-section-dark">
  <div class="grid-container padding-top-6 padding-bottom-4">
    <div class="maxw-full">
      <h2 class="site-examples--title">Reverse text examples</h2>
      <div class="grid-row grid-gap flex-align-stretch">
        {% for instance in site.data.sizes %}
          {% if instance.no_example != true %}
            <div class="site-examples--example tablet:grid-col-{{ instance.columns }}">
              <p class="font-sans-{{ instance.token }} text-{{ page.weight }} line-height-tight _switchOnHover">
								<span class="_switchOnHoverHide ani-opacity">{{ specimen_text }}</span>
								<span class="_switchOnHoverShow ani-opacity"><i>{{ specimen_translated }}</i></span>
              </p>
              <div class="site-examples--meta">
                <a href="https://designsystem.digital.gov/design-tokens/typesetting/font-size/" class="token">uswds .font-sans-{{ instance.token}}</a>
                <span class="pixels">{{ instance.pixels }}px</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="site-numerals grid-container ">
  <h2 class="site-numerals--title">Standard numerals</h2>
  <div class="site-numerals--example text-{{ page.weight }}">0123456789</div>

  <h2 class="site-numerals--title">Tabular figures</h2>
  <div class="site-numerals--example isTabular text-{{ page.weight }}">0123456789</div>
  <div class="site-numerals--example isTabular isSmaller text-{{ page.weight }}">12,034,789.13</div>
  <div class="site-numerals--example isTabular isSmaller text-{{ page.weight }}">79,621,608,64</div>
  <a href="https://designsystem.digital.gov/utilities/text-styles/#font-feature-settings" class="token">uswds .text-tabular</a>
</div>
