.circle {
  border-radius: 100%;
  height: 4em;
  width: 4em;
  text-align: center;
  background: var(--nsw-brand-dark);
  color: var(--nsw-text-light);
}

.circle p {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  margin:0;
}
